.page {
  width: 100vw;
  height: 80vh;
  background-image: url('../../images/us-flag-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0%;
  padding-top: 3%;
  position: relative;
}

.chair {
  height: 115%;
  position: absolute;
  top: -5%;
  left: 40%;
}

.home_title {
  font-size: 500%;
  margin: 5% 0 0 10%;
  color: white;
}

.description {
  font-size: 150%;
  margin-top: 0;
  margin-left: 10%;
  color: white;
}

.button {
  position: absolute;
  background-color: #d99f2f;
  color: white;
  border: none;
  height: 7%;
  width: 10%;
  right: 2%;
  bottom: 5%;
  font-size: 100%;
  border-radius: 0;
}
